body{
    background-color:rgb(68, 88, 19);
}
.calculator{
    width: 300px;
    height: 440px;
    background: #000;
    border-radius: 15px;
}

.result{
    width: 300px;
    height: 60px;
}

.mid-box{
    font-size: 20px;
    margin: 0px 10px;
    padding: 5px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.438);
    margin-bottom: 10px;
}


/* buttons */
.button{
    color: white;
    font-size: 50px;

    width: 60px;
    background-color: rgba(128, 128, 128, 0.185);
    border-radius: 50%;
    text-align: center;
}
.button:hover{
    background-color: rgba(128, 128, 128, 0.493);
    font-size: 40px;
}

.row{
    display: flex;
    gap: 5px;
    margin-bottom: 7px;
}

.controls{
    margin-left: 25px;
}

/* extras */
.left{
    margin-left: 260px;
}
.green{
    color: green;
}
.cross-btn:hover{
    background-color: rgba(128, 128, 128, 0.178);
    border-radius: 50%;
}
.bg-green{
    background-color: green;
}
.bg-green:hover{
    background-color: green;
}
.red{
    color: red;
}